<!DOCTYPE html>
  <html>
      <head>
        
          <title>Demo</title>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta name="description" content="Demo project">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
          <style type="text/css"></style>
      </head>
      <body>
          <% if (!isAuthenticated) { %>
              <a href="/login">Login in Here</a>
          <% } else { %>
              <h1>Hello <%= user.name %></h1>
              <p>
                <a href="/logout">Logout</a>
              </p>
          <%  } %>
      </body>
      <script type="text/javascript"></script>
      
  </html>