<!DOCTYPE html>
  <html>
      <head>
          <title>Demo</title>
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta name="description" content="Demo project">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
          <style type="text/css"></style>
      </head>
      <body>
          <form action="" method="post">
          	<input type="text" name="username" placeholder="username">
          	<input type="password" name="password" placeholder = "password">
          	<input type="submit" value="log in">
          </form>
      </body>
      <script type="text/javascript"></script>
      
  </html>